@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;700&display=swap');
:root{
    --bg:#1f232f;
    --box:#2a2e39;
    --border:#636773;
    --f1:#fff;

    --mint:rgb(0, 250, 208);
    --mint-op:rgba(0, 250, 208,.1);

    --bdr:6px;
}

html,body{
    width:100%; height:100vh;
    display:flex;flex-flow:column nowrap;
    justify-content:center; align-items:center;
    gap:2rem;
    background:var(--bg);
    font-family: 'IBM Plex Sans KR', sans-serif;font-size:18px;color:var(--f1);}

input,button,textarea,select{font-family:inherit;font-size:inherit;color:inherit;}

input{
    padding:1em;
    background:transparent;
    border:1px solid var(--border); border-radius:var(--bdr);}

input::placeholder{color:var(--border);}

button{
    background:var(--box);
    border:none; border-radius:var(--bdr);
    padding:1em 2em;
    cursor:pointer;}